body
{
  background-color: #2b3648 !important;
}
.form
{
  width: 300px;
  background: #f1f1f1;
  height: 290px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form h2
{
  text-align: center;
  font-weight: 500;
}
.param
{
  display: table;
  margin: 0 auto;
  padding-bottom: 20px;
}
.sbmt
{
  display: table;
  margin: 0 auto;
  padding-top: 5px;
}
.heading
{
  padding-top: 30px;
  padding-bottom: 20px;
}
