body
{
  background-color: #ffc000 !important;
}
.form
{
  width: 310px;
  background: #f1f1f1;
  height: 390px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form h2
{
  text-align: center;
  font-weight: 500;
}
.param
{
  display: table;
  margin-left: 47.5px;
  padding-bottom: 20px;
}
.sbmt
{
  display: table;
  margin: 0 auto;
  padding-top: 6px;
}
.heading
{
  padding-top: 25px;
  padding-bottom: 18px;
}
.fas.fa-times-hexagon {
    color: red;
    margin-left: 13px;
}
.btn.btn-light {
  width: 215px;
  height: 38px;
}
